/* Styles pour le conteneur des cartes d'expérience */
.cardsExperienceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  cursor: pointer;
  transition: ease-in-out 0.5s;

  /* Styles lorsque la classe "expanded" est appliquée */
  &.expanded {
    flex-direction: column;
    align-items: flex-start;
    transition: ease-in-out 0.5s;
  }
  /* Styles pour l'élément avec l'id "titleExperience" */
  #titleExperience {
    font-size: 2.13rem;
  }
}

/* Styles pour les cartes d'expérience */
.cardsExperience {
  height: auto;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  cursor: pointer;
  color: #fff;
  gap: 30px;

  /* Styles pour l'image à l'intérieur des cartes d'expérience */
  .imgExperience {
    width: 100%;
    display: flex;
    justify-content: center;

    /* Styles pour les images au survol */
    img {
      width: 40%;
      transition: ease-in-out 0.5s;

      &:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);
        transition: ease-in-out 0.5s;
      }
    }
  }
}

/* Styles lorsque la classe "expanded" est appliquée */
.expanded {
  flex-direction: column-reverse;
  margin-left: 5%;
  color: $green-color;
  transition: ease-in-out 0.5s;

  /* Styles pour les images lorsque la classe "expanded" est appliquée */
  img {
    width: 70%;
  }
}

/* Styles pour le contenu additionnel */
.additionalContent {
  display: flex;
  position: absolute;
  width: 50%;
  height: auto;
  left: 40%;
  padding: 10px;
  margin-top: 10px;
  color: black;
  transition: ease-in-out 0.5s;

  /* Styles pour le conteneur d'expérience */
  .experienceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 30px;
    background-color: $green-color;
    color: #fff;
    padding: 10px;
    transition: ease-in-out 0.5s;

    /* Styles pour le texte à l'intérieur du conteneur d'expérience */
    span {
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold;
    }
  }

  /* Styles pour le conteneur de logo majeur */
  .logoMajorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green-color;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    color: #fff;

    /* Styles pour le titre à l'intérieur du conteneur de logo majeur */
    .titleContainerExperience {
      font-size: 0.88rem;
      text-align: center;
    }

    /* Styles pour le conteneur de logo */
    .logoContainer {
      display: flex;
      justify-content: center;
      margin: 10px;

      /* Styles pour le texte à l'intérieur du conteneur de logo */
      span {
        font-size: 0.88rem;
        text-align: center;
      }

      /* Styles pour le logo à l'intérieur du conteneur de logo */
      .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
