$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;


/* Styles pour le conteneur principal de la page de contact */
.ContainerMajorContactPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 5rem;

  /* Styles pour le titre des projets */
  .titleProjets {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
    margin-top: 5%;

    /* Style du titre */
    h1 {
      color: #f6f6f6;
      font-size: 3.75rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

    /* Style de l'icône */
    img {
      width: 24px;
      height: 24px;
    }
  }

  /* Styles pour le conteneur de contact */
  .containerContact {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* Styles pour le formulaire de contact */
    form {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-bottom: 5%;
      /* Style du conteneur du commutateur */
      .toggle-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        /* Style du commutateur */
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        /* Masquage de la case à cocher HTML par défaut */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* Style du curseur du commutateur */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: 0.4s;
        }

        /* Style du bouton du commutateur */
        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          transition: 0.4s;
        }

        /* Style du commutateur en position activée */
        input:checked + .slider {
          background-color: $yellow-color;
        }

        /* Style du commutateur en position activée avec focus */
        input:focus + .slider {
          box-shadow: 0 0 1px $yellow-color;
        }

        /* Déplacement du bouton du commutateur en position activée */
        input:checked + .slider:before {
          transform: translateX(26px);
        }

        /* Style du commutateur avec coin arrondi */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }

    /* Style du champ de l'entreprise */
    .company-field {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
    .form__group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 100%;
    }

    .form__field {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid $white;
      outline: 0;
      font-size: 1.3rem;
      color: $white;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown ~ .form__label {
        font-size: 1.5rem;
        cursor: text;
        top: 20px;
      }
    }

    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1.5rem;
      font-weight: 600;
      color: $white;
    }

    .form__field:focus {
      ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $brown-color;
        font-weight: 700;
      }
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, #a4945e, #cd9a55);
      border-image-slice: 1;
    }
    /* reset input */
    .form__field {
      &:required,
      &:invalid {
        box-shadow: none;
      }
    }

    // /* Style des étiquettes */
    #iAMtoggle{
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 5px;
      color: #fff;
    }
    .toggle-label {
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 5px;
      color: #fff;
    }

    // /* Style des champs de saisie */
    textarea {
      padding: 5px;
      font-size: 1rem;
      border-width: 1px;
      border-color: #cccccc;
      background-color: #ffffff;
      color: black;
      border-style: solid;
      border-radius: 10px;
      box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);

      &:focus {
        outline: none;
      }
    }

    /* Style des zones de texte */
    textarea {
      min-height: 100px;
    }

    /* Style du bouton d'envoi */
    button {
      margin-top: 10px;
      background-color: $brown-color;
      border-radius: 5px;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-size: 1.5rem;
      padding: 13px 31px;
      text-decoration: none;
      border: none;
      &:active {
        position: relative;
        outline: none;
        top: 1px;
      }
    }
    /* Styles pour le conteneur de l'iframe */
    .iframe_container {
      border: 4px solid #ffedb0;
      background: $yellow-color;
      border-radius: 20px;
      display: inline-block;

      /* Styles pour l'iframe */
      .iframe {
        border-radius: 20px;
        border: none;
      }
    }
  }
}

/* Styles pour les écrans de petite taille */
@media screen and (max-width: 780px) {
  .ContainerMajorContactPage {
    gap: 1rem;

    /* Styles pour le conteneur de contact */
    .containerContact {
      justify-content: center;

      /* Styles pour le conteneur de l'iframe en cas de petite taille d'écran */
      .iframe_container {
        display: none;
        border: 0px;

        /* Styles pour l'iframe en cas de petite taille d'écran */
        .iframe {
          display: none;
        }
      }

      /* Styles pour le formulaire de contact en cas de petite taille d'écran */
      form {
        width: 80%;

        /* Style des étiquettes */
        label {
          font-size: 1rem;
        }

        /* Style du conteneur du commutateur en cas de petite taille d'écran */
        .toggle-container {
          #iAMtoggle {
            display: none;
          }
        }
      }
    }
  }
}
