/* Importation des variables depuis "../variable" (assurez-vous que le chemin d'importation est correct) */
@import "../variable";

/* Styles pour le conteneur principal */
.container {
  /* Styles pour la section "feuille" */
  .feuille {
    /* Styles pour les images à l'intérieur de la section "feuille" */
    img {
      position: relative;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      filter: blur(2px);
      -webkit-mask-image: linear-gradient(#232222 70%, transparent 100%);
      mask-image: linear-gradient(#232222 70%, transparent 100%);
    }
  }

  /* Styles pour la section "polygon" */
  .polygon {
    width: 100%;
    height: 100%;

    /* Styles pour les images à l'intérieur de la section "polygon" */
    img {
      position: absolute;
      width: 0vw;
      height: 70vh;
      top: 180px;
      z-index: 1;
    }
  }

  /* Styles pour la section "goutte" */
  .goutte {
    width: 100%;
    height: 100%;

    /* Styles pour les images à l'intérieur de la section "goutte" */
    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: absolute;
      top: 0;
      z-index: 1;
      -webkit-mask-image: linear-gradient(#232222 50%, transparent 100%);
      mask-image: linear-gradient(#232222 50%, transparent 100%);
    }
  }

  /* Styles pour le conteneur du prénom */
  .prenomContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;

    /* Styles pour la partie "mehdyH" */
    .mehdyH {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: auto;
      margin-top: 10px;
      margin-left: 20px;

      #logo {
        animation: fill 0.5s ease forwards 6s;

        path {
          &:nth-child(1) {
            stroke-dasharray: 830;
            stroke-dashoffset: 830;
            animation: line-anim 2s ease forwards;
          }

          &:nth-child(2) {
            stroke-dasharray: 501;
            stroke-dashoffset: 501;
            animation: line-anim 2s ease forwards 0.3s;
          }

          &:nth-child(3) {
            stroke-dasharray: 537;
            stroke-dashoffset: 537;
            animation: line-anim 2s ease forwards 0.9s;
          }

          &:nth-child(4) {
            stroke-dasharray: 559;
            stroke-dashoffset: 559;
            animation: line-anim 2s ease forwards 1.2s;
          }

          &:nth-child(5) {
            stroke-dasharray: 495;
            stroke-dashoffset: 495;
            animation: line-anim 2s ease forwards 1.5s;
          }

          &:nth-child(6) {
            stroke-dasharray: 599;
            stroke-dashoffset: 599;
            animation: line-anim 2s ease forwards 1.8s;
          }

          &:nth-child(7) {
            stroke-dasharray: 501;
            stroke-dashoffset: 501;
            animation: line-anim 2s ease forwards 2.1s;
          }

          &:nth-child(8) {
            stroke-dasharray: 303;
            stroke-dashoffset: 303;
            animation: line-anim 2s ease forwards 2.4s;
          }

          &:nth-child(9) {
            stroke-dasharray: 356;
            stroke-dashoffset: 356;
            animation: line-anim 2s ease forwards 2.7s;
          }

          &:nth-child(10) {
            stroke-dasharray: 501;
            stroke-dashoffset: 501;
            animation: line-anim 2s ease forwards 3s;
          }

          &:nth-child(11) {
            stroke-dasharray: 303;
            stroke-dashoffset: 303;
            animation: line-anim 2s ease forwards 3.3s;
          }

          &:nth-child(12) {
            stroke-dasharray: 501;
            stroke-dashoffset: 501;
            animation: line-anim 2s ease forwards 3.6s;
          }

          &:nth-child(13) {
            stroke-dasharray: 501;
            stroke-dashoffset: 501;
            animation: line-anim 2s ease forwards 3.9s;
          }

          &:nth-child(14) {
            stroke-dasharray: 479;
            stroke-dashoffset: 479;
            animation: line-anim 2s ease forwards 4.1s;
          }
        }
      }

      // /* Styles pour le premier span dans la partie "mehdyH" */
      // .span1 {
      //   color: #f6f6f6;
      //   font-size: 10rem;
      //   font-style: normal;
      //   font-weight: 900;
      //   line-height: 70px;
      //   padding-right: 10px;
      // }
    }

    /* Styles pour la ligne de séparation */
    #line {
      border-bottom: 5px solid #f6f6f6;
      width: 55%;
      margin-left: 20px;
    }

    /* Styles pour le conteneur du métier */
    .metierContainer {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      margin-left: 20px;

      /* Styles pour le deuxième span dans le conteneur du métier */
      #span2 {
        color: #f6f6f6;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.2em;
        overflow: hidden;
        position: relative;
      }

      /* Animation pour le texte du métier */
      #span2::after {
        content: "Full-Stack";
        display: inline-block;
        animation: animation 12s steps(9) infinite;
        width: 0ch;
        white-space: nowrap;
        color: $brown-color;
      }

      /* Animation pour le clignotement du texte */
      #span2::before {
        display: inline-block;
        content: "";
        width: 10px;
        height: 100%;
        background-color: white;
        position: absolute;
        right: 0;
        animation: blinking 0.4s linear alternate infinite;
      }
    }
  }

  @keyframes line-anim {
    to {
      stroke-dashoffset: 0;
    }
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

/* Animation pour le texte du métier */
@keyframes animation {
  15% {
    content: "Full-Stack";
    width: 9ch;
  }
  30% {
    width: 0ch;
  }
  50% {
    content: "Front-End";
    width: 9.5ch;
  }
  60% {
    width: 0ch;
  }
  75% {
    content: "Back-End";
    width: 9.5ch;
  }
  90% {
    width: 0ch;
  }
}

/* Animation pour le clignotement du texte */
@keyframes blinking {
  100% {
    opacity: 0;
  }
}

/* Styles pour les écrans de petite taille */
@media screen and (max-width: 780px) {
  /* Styles pour la section "polygon" pour les petits écrans */
  .container .polygon {
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      width: 100vw;
      height: 70vh;
      top: 180px;
      z-index: 1;
    }
  }

  /* Styles pour la section "goutte" pour les petits écrans */
  .container .goutte {
    img {
      z-index: 0;
    }
  }

  /* Styles pour le conteneur du prénom pour les petits écrans */
  .container .prenomContainer {
    /* Styles pour la partie "mehdyH" pour les petits écrans */
    .mehdyH {
      align-items: flex-end;
      // .span1 {
      //   font-size: 3rem;
      //   line-height: 50px;
      // }
      #logo {
        width: 70%;
        height: auto;
      }
    }

    /* Styles pour la ligne de séparation pour les petits écrans */
    #line {
      border-bottom: 5px solid #f6f6f6;
      width: 55%;
    }

    /* Styles pour le conteneur du métier pour les petits écrans */
    .metierContainer {
      #span2 {
        font-size: 24px;
      }
    }
  }
}
