/* Import des styles depuis le fichier "variable" (assumant qu'il existe) */
@import "../variable";

/* Styles pour la barre de navigation */
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 75px;
  color: #fff;
  font-size: 4vw;
  padding: 1rem;
  gap: 50px;

  &.show-nav {
    .navbar_item {
      transform: translateX(0);
    }
  }

  .navbarHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Styles pour le lien du CV dans la barre de navigation
    .navbar_CV {
      background-color: #ffedb0;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: $brown-color;
        font-size: 1.5rem;
        padding: 10px;
        transition: ease-in-out 0.2s;

        &:hover {
          color: $green-color;
          transition: ease-in-out 0.2s;
        }
      }
    }
  }

  // Styles pour les liens de la barre de navigation
  .navbar_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 5%;
    align-items: flex-end;
    transition: all 0.2s ease-in-out;

    .navbar_link {
      padding: 0 0.3rem;
      color: inherit;
      transition: ease-in-out 0.2s;

      &:hover {
        color: $green-color;
        cursor: pointer;
        transition: ease-in-out 0.2s;
        font-size: 5vw;
        background: rgba(255, 255, 255, 0.14);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(6.3px);
      }
    }
  }
}

// Styles pour le menu toggle
#menuToggle {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }

  span {
    width: 55px;
    height: 8px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 4px;
    transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  }

  #span1 {
    transform-origin: 4px 0px;
  }

  #span3 {
    transform-origin: bottom right;
  }

  .show-nav.span1 {
    background-color: #FFEDB0;
    transform: rotate(45deg) translate(8px);
  }

  .show-nav.span2 {
    background-color: #FFEDB0;
    transform: rotate(495deg) translate(4px);
  }

  .show-nav.span3 {
    background-color: #FFEDB0;
    transform: rotate(-45deg);
    opacity: 0;
  }
}

// Animations pour l'apparition progressive des liens en version mobile
.show-nav {
  .slideInDown-1 {
    transition: all 0.5s ease-out;
  }

  .slideInDown-2 {
    transition: all 0.6s ease-out;
  }

  .slideInDown-3 {
    transition: all 0.7s ease-out;
  }

  .slideInDown-4 {
    transition: all 0.8s ease-out;
  }
}

// Masquer l'élément avec l'ID "barre_droite" en version mobile
.barre_droite {
  display: none;
}

.slide-out {
  transform: translateX(100%); /* Déplace les éléments vers la droite */
  opacity: 0; /* Les rend transparents */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Ajoute une transition fluide */
}
